.app {
}

.tsnumber {
    text-align: center;
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 500%;
}

.tscenter {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.tsinfolink {
    position:absolute;
    right:0px;
    width:5%;
}